*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
/* #main{
    height: 100%;
    width: 100%;
} */
#nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 80px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
  
}
#nav-part1 h2{
    border: 1px solid black;
    border-radius: 50px;
    padding: 4px 8px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
#nav-part1 i{
    border: 1px solid black;
    border-radius: 100px;
    padding: 4px 8px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    background-color: rgb(254, 104, 50);
    cursor: pointer;
    /* outline: 0; */
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-align: center;
}
#nav-part2 h2{
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}
#nav-part3 button{
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 4px 8px;
    font-weight: 400;
    cursor: pointer;
}
#nav-part3 #learn{
    background-color: rgb(254, 104, 50);
    color: white;
}
#main > h1{
    font-weight: 600;
    font-size: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}
#main img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;

}
#main #img2{
    transform: translate(-50%,-50%) rotate(-10deg);
}
#main #img3{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#main #img4{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#main #img1:hover{
    z-index: 100;
}
#main #img2:hover{
    z-index: 100;
}
#main #img3:hover{
    z-index: 100;
}
#main #img4:hover{
    z-index: 100;
}
#footer{
    position: absolute;
    bottom: 5%;
    
}
#footer #footer-part1{
    position: relative;
    left: 36%;
    font-size: 24px;

}
#footer #footer-part2{
    position: absolute;
    bottom: -80%;
    left: 272%;
}
#footer #footer-part2 i{
   padding: 4px;
    font-size: 40px;
    border: 0.5px solid black;
    border-radius: 50%;
    cursor: pointer;


}
